[Unit]
Description=Prometheus Alertmanager
Documentation=https://prometheus.io/docs/alerting/latest/alertmanager/
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=<absolute path to alertmanager install location here>/alertmanager \
    --config.file <absolute path to this repo>/prometheus/alertmanager.yml

[Install]
WantedBy=multi-user.target
