[Unit]
Description=Selenium Server
Documentation=https://www.selenium.dev/documentation/grid/getting_started/
Wants=network-online.target
After=network-online.target

[Service]
User=selenium
Group=selenium
Type=simple
ExecStart= <path to java binary for use with this jar must be at least java 11> -jar \
        <path to selenium server jar file downloaded and moved earlier> \
        standalone \
        --selenium-manager true \
        --tracing true

[Install]
WantedBy=multi-user.target
